.footer {

    display         : flex;
    flex-direction  : row;
    justify-content : center;
    align-items     : center;
    background-color: black;
    color           : white;
    height          : 50px;
    border-radius   : 5px;

}

:host {
    width     : 100%;
    text-align: center;
}